*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
header, main, footer{
    width: 1040px;
    margin: 0 auto;
}
#wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;
}
header{
    height:120px;
    width: 1040px;
    margin: 0 auto;
}
main{
    padding-bottom: 100px;
    width: 1040px;
    margin: 0 auto;
}
footer{
    margin: -100px auto 0;
    position: relative;
    height: 100px;
    width: 1040px;
    margin: 0 auto;
}
body{
    background-color: #6e857a;
    color: white;
}
.main_img-float{
    width: 550px;
    margin-right: 40px;
    float: left;
}
#panorama{
    width: 100%;
    height: 150px;
    background: url(../img/2.jpg) no-repeat center 70%;
    background-size: cover; /*масштабирование фона*/
}
.services_item{
    width: 240px;
    margin-left: 40px;
    margin-right: 40px;
    float:left;
}
.services_img{
    width: 240px;
    border-radius: 15px;
}
.services{
    padding: 35px;
    border: 5px;
}
.clearfix::after{
    content: "";
    display: flex;
    clear: both;
}
.h1_invisible{
    visibility: hidden;
}
.comand{
    max-width: 500px;
   margin-left: auto;
   margin-right: auto;
}
.comand_text{
    float: left;
}
.photo{
    width: 500px;
    display: block;
    margin: auto;
}
.contact{
    max-width: 500px;
    margin: 0px auto;
    text-align: center;
}
.pp{
    color: rgb(85, 36, 95);
    margin: 10px;
}
.client{
    text-align: center;  
}
#logo{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    line-height: 100px;
    font-size: 24px;
}
.pink{
    color: rgb(85, 36, 95);
}
.footer_block{
    display: inline-block;
    width: 335px;
    text-transform: uppercase;
}
.footer_icons{
    display: inline-block;
    width: 335px;
    text-align: right;
    margin: 10px;
}
.footer_img{
    width: 50px;
}
.footer_blok{
    text-transform:uppercase ;
}
h1{
    text-transform: uppercase;
    font-weight: 700px;
    font-size: 20px;
}
h2{
    text-transform: uppercase;
    font-weight: 700px;
    font-size: 20px;
}
#mark{
    background: rgb(85, 36, 95);
    color: #fff;
}
#client{
    border-radius: 20px;
}
#top_text{
    font-weight: 500px;
    font-size: 24px;
    margin-left: 80px;
    text-align: center;
}
#dd{
    color: red;
}
.clients{
    max-width: 500px;
    margin: 0px auto;
    text-align: center;
}
.reviews{
    max-width: 500px;
    margin: 0px auto;
    text-align: center;
}
.new::after{
    content: "new";
    font-size: 10px;
    vertical-align: super;
    background-color: rgb(85, 36, 95);
    border-radius: 2px;
    padding: 3px;
    margin-left: 5px;
}
.h1{
    margin-top: 50px;
}
table{
    border: 5px solid   rgb(85, 36, 95);
    border-collapse: collapse;
}
td, th{
    border-bottom: 2px solid rgb(136, 78, 148);
    border-top: 2px solid rgb(136, 78, 148);
    border-collapse: collapse;
    padding: 10px;
}
.price th:first-child{
    width: 10%;
}
.price th:nth-child(2), .price th:last-child{
width: 25%;
}
.td{
    height: 100px;
    width: 200px;
    text-align: center;
    vertical-align: middle;
}
.styled-table tbody tr:nth-child(even) {
    background-color:  rgb(136, 78, 148);
  }
  .styled-table tbody tr:nth-child(odd) {
    background-color: rgb(85, 36, 95);
    
  }
  .styled{
    background-color:   rgb(85, 36, 95);
  }
  #contact-form input[type="text"]{
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid white;
    background-color: #eddfff;
  }
  #contact-form input[type="submit"]{
 height: 20px;
 width: 250px;
 padding: 5px;
 margin-bottom: 10px;
 border: 1px solid white;
 background-color: #eddfff;
  }
  #contact-form input[type="submit"]:hover{
height: 20px;
 width: 250px;
 padding: 5px;
 margin-bottom: 10px;
 border: 1px solid white;
 background-color: rgb(85, 36, 95);
  }
#contact-form input[type="email"]{
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid white;
    background-color: #eddfff;
}